@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Radio Canada Big */

.radio-canada-big-100 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.radio-canada-big-200 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.radio-canada-big-300 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.radio-canada-big-400 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.radio-canada-big-500 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.radio-canada-big-600 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.radio-canada-big-700 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.radio-canada-big-800 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.radio-canada-big-900 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
